<nb-card-header>
    <nb-select>
        <nb-option>Currency</nb-option>
    </nb-select>
</nb-card-header>
<nb-card-body>
    <div class="chart-info">
        <div>Daily Income</div>
        <div class="h6">dailyIncome</div>
        <div class="">
            <!--  <nb-icon [icon]="earningLiveUpdateCardData.delta.up ? 'arrow-up' : 'arrow-down'" pack="eva" class="direction">
            </nb-icon> -->

            percent%
        </div>
    </div>
    <h1>chart goes here</h1>
    <!-- <ngx-front-stats-chart></ngx-front-stats-chart> -->
</nb-card-body>